<i class="bi bi-file-earmark-x"></i>

<div class="main-container">
  <h1 class="app-header">Task Managment DevOps</h1>

  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <h2 class="text-center">Create New Task</h2>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Task Name</label>
          <input type="text" class="form-control" id="exampleFormControlInput1" [(ngModel)]="taskName" placeholder="Do your dishes...">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">Task Description</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" [(ngModel)]="taskDescription"></textarea>
        </div>
        <div class="text-center mb-3">
          <button type="submit" class="btn btn-primary" (click)="createNewTask()">Create Task</button>
        </div>
      </div>
    </div>
  </div>
  
  <div class="task-table mt-5">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Date Created</th>
          <th scope="col">Task Name</th>
          <th scope="col">Short Description</th>
          <th scope="col">Task Status</th>
          <th scope="col">Delete task</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let task of allTasks">
          <th scope="row">{{task.id}}</th>
          <td>{{task.dateCreated | date}}</td>
          <td>{{task.taskName}}</td>
          <td>{{task.taskDescription}}</td>
          <td>{{task.taskStatus}}</td>
          <td (click)="deleteTask(task.id)"><i class="bi bi-file-earmark-x"></i></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
